#footer {
    overflow-x: hidden;
}

.footer-inner {
    width: 1440px;
    margin: 0 auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.footer-info .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.contatc-item {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contatc-item em {
    font-weight: 800;
    font-size: 22px;
}

.contatc-item span {
    font-size: 13px;
    margin-top: 100px;
}

.footer-info .right {
    width: 50%;
    position: relative;
}


.right img {
    border-radius: 20px;
}

.carry {
    position: absolute;
    width: 200px;
    top: 0;
    left: 0%;
    z-index: 99999;
    animation: animateimgWave 1s linear infinite;
}

.like {
    position: absolute;
    bottom: -50px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: var(--darkpink-color);
    border: none;
    background-color: transparent;
}

.chat {
    background-color: transparent;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    position: absolute;
    right: 7%;
    width: 44%;
    top: 102%;
    display: none;
}

.like .chat span {
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
}